@{
    ViewData["Title"] = "Brak dostępu";
}

<h2>Brak dostępu</h2>
<p>Aby zobaczyć tę stronę, musisz być zalogowany.</p>
<a class="btn btn-primary" asp-controller="Account" asp-action="Login">Zaloguj</a>
