@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikacja do zarządzania zamówieniami</h1>
    <p>
        Musisz być zalogowanym, aby zarządzać zamówieniami.
    </p>
</div>
