@model Orders.Models.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Edycja kategorii";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="mt-2 btn btn-primary">Zapisz</button>
</form>

<a href="@Url.Action("Index", "Category")" class="mt-2 btn btn-secondary">Powrót do kategorii</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}